@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-active-color: #188CE8;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --hero-gradient-color: rgba(47, 48, 58, 0.4);
  --icon-bg-color: #afb1b8;
}

/* Сховати текст */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/*---------Логотип---------------------*/
.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header__logo {
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .header__logo {
    flex-grow: 0;
    margin-right: 88px;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 93px;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.logo__right-part {
  color: var(--primary-black-color);
}

.logo__right-part--white {
  color: var(--primary-white-color);
}

/*--------Заголовок секції-----------------*/
.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

/* Соцмережі */
.networks {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.networks__item {
  width: 44px;
  height: 44px;
}

.networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.networks__link--light {
  color: var(--icon-bg-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__link--light:hover, .networks__link--light:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.networks__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__link--dark:hover, .networks__link--dark:focus {
  background-color: var(--accent-color);
}

.networks__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/*---- Модальне вікно -----*/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 95%;
  max-height: 95%;
  padding: 40px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 460px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-close .icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .icon {
  fill: var(--accent-color);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.form-field {
  display: block;
  margin-bottom: 10px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-control {
  position: relative;
  display: block;
}

.form-input-text {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-text:focus {
  border-color: var(--accent-color);
}

.form-control .input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-text:focus + .input-icon {
  fill: var(--accent-color);
}

.form-field-comments {
  display: block;
  margin-bottom: 20px;
}

.form-order .comments {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-order .comments::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-order .comments:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-order .comments::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-order .comments:focus {
  border-color: var(--accent-color);
}

.form-field-agree {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.agree {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.agree-icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agree:focus + .agree-icon {
  outline: 1px solid var(--title-text-color);
}

.agree:checked + .agree-icon {
  border-color: transparent;
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

.agree-label {
  width: 100%;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .agree-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.agree-link {
  position: relative;
  margin-left: 5px;
  color: var(--accent-color);
  text-decoration: none;
}

.agree-link:after {
  position: absolute;
  left: -5px;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
}

.order-send {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-send:hover,
.order-send:focus {
  background-color: var(--accent-active-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__container {
    height: 60px;
  }
}

/* Іконка мобільного меню */
.icon-menu {
  padding: 0;
  border: none;
  background: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-menu:hover {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}

.icon-menu .icon {
  width: 40px;
  height: 40px;
}

.menu-container {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  top: 0;
  position: fixed;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
}
.menu-container.is-open {
  display: block;
}
.menu-container > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.icon-menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-menu-close:hover, .icon-menu-close:focus {
  fill: var(--accent-color);
}

.mobile-menu .item {
  margin-bottom: 32px;
}

.mobile-menu .link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu .link:hover, .mobile-menu .link:focus {
  color: var(--accent-color);
}

.mobile-menu-contacts .item {
  margin-bottom: 32px;
}

.mobile-menu-contacts .link {
  text-decoration: none;
}

.mobile-menu-phone .link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mobile-menu-phone .link {
    font-size: 34px;
  }
}

.mobile-menu-email .link {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 480px) {
  .mobile-menu-email .link {
    font-size: 24px;
  }
}

.mobile-menu-networks {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media screen and (min-width: 480px) {
  .mobile-menu-networks {
    flex-wrap: nowrap;
  }
}

.mobile-menu-networks .item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu-networks .link {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
}

.header__navigation {
  margin-right: auto;
}

/*--------Головне меню-----------------*/
.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus, .navigation__link.current {
  color: var(--accent-color);
}

.navigation__link--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  content: "";
  background: var(--accent-color);
  border-radius: 2px;
}

/*--------Контакти у шапці праворуч----------*/
.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    gap: 50px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  /*
  padding-top: 32px;
  padding-bottom: 32px;
  */
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__icon--email {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__icon--email {
    width: 16px;
    height: 12px;
  }
}

.contacts__icon--phone {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .contacts__icon--phone {
    width: 10px;
    height: 16px;
  }
}

/*-----------------Герой-----------------*/
.hero {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url(../images/hero-bg-mobile.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url(../images/hero-bg-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url(../images/hero-bg-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url(../images/hero-bg-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url(../images/hero-bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-gradient-color), var(--hero-gradient-color)), url(../images/hero-bg-2x.jpg);
  }
}

.hero__title {
  max-width: 360px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--accent-active-color);
}

/*---------Особливості----------------*/
.features {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .cards {
    flex-wrap: nowrap;
  }
}

.cards__item {
  width: calc((100% - 0px) / 1);
}
@media screen and (min-width: 768px) {
  .cards__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .cards__item {
    width: calc((100% - 90px) / 4);
  }
}

.cards__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background: var(--light-bg-color);
  border-radius: 4px;
}

.cards__title {
  margin-bottom: 10px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .cards__title {
    text-align: left;
  }
}

.cards__descr {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*---------Чим ми займаємося----------------*/
.section-work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section-work {
    display: block;
  }
}

.work {
  display: flex;
}

.work__item {
  width: 370px;
}
.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__thumb {
  position: relative;
}

.work__title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/*---------Наша команда----------------*/
.section--bg-light {
  background-color: var(--light-bg-color);
}

.people-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .people-list {
    flex-wrap: nowrap;
  }
}

.people-list__item {
  width: calc((100% - 0px) / 1);
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .people-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .people-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.people-list__info {
  padding: 30px;
}
@media screen and (min-width: 480px) {
  .people-list__info {
    padding: 30px 122px;
  }
}
@media screen and (min-width: 768px) {
  .people-list__info {
    padding: 30px 74px;
  }
}
@media screen and (min-width: 1200px) {
  .people-list__info {
    padding: 30px 32px;
  }
}

.people-list__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.people-list__descr {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/*-----Клієнти -------------------*/
.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .icons {
    flex-wrap: nowrap;
  }
}

.icons__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .icons__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .icons__item {
    /*
        width: 170px;
            height: 92px;
            */
    width: calc((100% - 150px) / 6);
  }
}

.icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--icon-bg-color);
  border-radius: 4px;
  color: var(--icon-bg-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons__link:hover, .icons__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.icons__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/*-------Портфоліо-----------*/
.portfolio-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--light-bg-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-btn.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: 370px;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-descr {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*--------Подвал------------*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--dark-bg-color);
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 0;
    text-align: left;
  }
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__info {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__info {
    align-items: baseline;
    justify-content: space-between;
    gap: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address {
    margin-right: 70px;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__link--contacts {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .footer__networks-block {
    margin-right: 93px;
  }
}

.networks-block__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* ---- Форма підписки на розсилку -----*/
.subscription {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .subscription {
    flex-direction: row;
    align-items: flex-end;
    gap: 0;
  }
}

.subscription__label {
  margin-right: 12px;
}

.subscription__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.subscription__email {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: rgba(0, 0, 0, 0);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.subscription__email::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription__email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscription__email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .subscription__email {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__email {
    width: 358px;
  }
}

.subscription-btn {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding-left: 28px;
  padding-right: 28px;
  margin: 0 auto;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-btn:hover, .subscription-btn:focus {
  background-color: var(--accent-active-color);
}
@media screen and (min-width: 1200px) {
  .subscription-btn {
    margin: 0;
  }
}

.subscription-btn__title {
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.subscription-btn__icon {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */