/*---- Модальне вікно -----*/
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 528px;
    height: 581px;
    padding: 40px;

    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-close {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    background: var(--primary-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.modal-close .icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .icon {
    fill: var(--accent-color);
}

.modal-title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.form-field {
    display: block;
    margin-bottom: 10px;
}

.form-label {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.form-control {
    position: relative;
}

.form-input-text {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    padding-right: 12px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    cursor: pointer;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-text:focus {
    border-color: var(--accent-color);
}

.form-control .input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-text:focus+.input-icon {
    fill: var(--accent-color);
}

.form-field-comments {
    display: block;
    margin-bottom: 20px;
}

.form-order .comments {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    resize: none;
    cursor: pointer;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-order .comments::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form-order .comments:focus {
    border-color: var(--accent-color);
}

.form-field-agree {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.agree {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.agree-icon {
    width: 16px;
    height: 15px;
    margin-right: 7px;

    border: 2px solid var(--title-text-color);
    border-radius: 3px;
    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agree:focus+.agree-icon {
    outline: 1px solid var(--title-text-color);
}

.agree:checked+.agree-icon {
    border-color: transparent;
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
}

.agree-label {
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.agree-link {
    position: relative;
    margin-left: 5px;

    color: var(--accent-color);
    text-decoration: none;
}

.agree-link:after {
    position: absolute;
    left: -5px;
    bottom: 0;

    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
}

.order-send {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    ;

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-send:hover,
.order-send:focus {
    background-color: var(--accent-active-color);
}