/*---------Особливості----------------*/
.features {
    padding-bottom: 60px;

    @include desktop {
        padding-bottom: 0;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;


    @include desktop {
        flex-wrap: nowrap;
    }

}

.cards__item {
    @include calc-width(1, 30px);

    @include tablet {
        @include calc-width(2, 30px);
    }
    
    @include desktop {
        @include calc-width(4, 30px);
    }
}

.cards__wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 120px;
    margin-bottom: 30px;

    background: var(--light-bg-color);
    border-radius: 4px;
}

.cards__title {
    margin-bottom: 10px;

    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    text-align: center;

    @include tablet {
        text-align: left;
    }
}

.cards__descr {
    line-height: 1.71;
    letter-spacing: 0.03em;
}